body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/background2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #0244bd; */
  font-family: 'Montserrat', sans-serif;

  overflow-x: hidden;
}